.App {
  text-align: center;
  background-color:burlywood;
}


.form-container{
  background: url('https://images.unsplash.com/photo-1639681150011-3170703db543?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;
  padding:5% 1%;
  display:flex;
  justify-content:center;
}

.form-group {
  color: rgba(151, 255, 142, 0.658);
  width:65%;
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items:center;
}

h2 {
  font-weight:900;
  font-size: 90px;
  margin: 0%;
  padding:3%;
  background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://images.unsplash.com/photo-1639674242533-e826a9992373?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60');
}

h4{
  font-weight:800;
  font-size:40px;
  margin:0%;
  padding:4%;
}

.name {
  display:flex;
  justify-content:center;
  margin: 3% 0%;
}

.email {
  display:flex;
  justify-content:center;
  margin: 3% 0%;
}

.password {
  display:flex;
  justify-content: center;
  margin: 3% 0%;
}

.terms {
  display:flex;
  justify-content:center;
  padding: 5%;
}

button {
  width:100%;
}